@{
    ViewData["Title"] = "Erro";
}
<h2>Ocorreu um erro!</h2>
<p>Não se preocupe, estamos cuidando disso. 🚀</p>
@if (ViewData["StatusCode"] != null)
{
    <p>Código do erro: @ViewData["StatusCode"]</p>
}