@model List<NotifyX.Models.Usuario>

<link rel="stylesheet" href="~/css/email_theme.css" />

<div class="container">
    <h2>Enviar E-mail</h2>
    <hr />

    <form method="post" asp-controller="Emails" asp-action="SendEmail">
        <div class="form-group">
            <label>Selecionar Destinatários:</label>
            <div class="client-list">
                @foreach (var cliente in Model)
                {
                    <div class="client-item">
                        <input type="checkbox" name="clientesSelecionados" value="@cliente.Email" />
                        <span class="client-name">@cliente.Nome</span> (<span class="client-email">@cliente.Email</span>)
                    </div>
                }
            </div>
        </div>

        <div class="form-group">
            <label>Mensagem:</label>
            <textarea name="mensagem" class="form-control rounded-input" required></textarea>
        </div>

        <div class="email-actions">
            <button type="submit" class="btn-primary">Enviar</button>
        </div>

        @if (TempData["MensagemSucesso"] != null)
        {
            <div class="alert alert-success">
                @TempData["MensagemSucesso"]
            </div>
        }
    </form>
</div>
