@model NotifyX.Models.RegisterViewModel

<h2>Registrar</h2>

<form method="post" asp-controller="Account" asp-action="Register">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" type="password" />
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" type="password" />
    </div>
    <button type="submit" class="btn btn-primary">Registrar</button>
</form>
